<!DOCTYPE html>
<html>
<head>
    <title>WEB700</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hafsa Osman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li> 
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <!-- Start your code here -->
                <div class="py-4">
                    <h1>More Information</h1>
                    <p>Here you'll find more information for you culinary enthusiasts.</p>
                </div>

                <div class="py-4">
                    <h2>Tables Section</h2>
                    <table class="table table-bordered">
                        <caption>Table 1: Basic Table</caption>
                        <thead>
                            <tr>
                                <th rowspan="2">Dish</th>
                                <th colspan="2">Ingredients</th>
                            </tr>
                            <tr>
                                <th>Main</th>
                                <th>Secondary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Spaghetti Carbonara</td>
                                <td>Pasta, Eggs</td>
                                <td>Pancetta, Parmesan, Pepper</td>
                            </tr>
                            <tr>
                                <td>Chicken Alfredo</td>
                                <td>Chicken, Pasta</td>
                                <td>Parmesan, Cream, Garlic</td>
                            </tr>
                            <tr>
                                <td>Margherita Pizza</td>
                                <td>Pizza Dough, Tomatoes</td>
                                <td>Mozzarella, Basil, Olive Oil</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">These are some of the classic dishes with their main and secondary ingredients.</td>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table table-bordered">
                        <caption>Table 2: Advanced Table</caption>
                        <thead>
                            <tr>
                                <th>Dish</th>
                                <th>Preparation Time</th>
                                <th>Cooking Time</th>
                                <th>Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Spaghetti Carbonara</td>
                                <td>10 mins</td>
                                <td>20 mins</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td>Chicken Alfredo</td>
                                <td>15 mins</td>
                                <td>25 mins</td>
                                <td>Easy</td>
                            </tr>
                            <tr>
                                <td>Margherita Pizza</td>
                                <td>20 mins</td>
                                <td>15 mins</td>
                                <td>Easy</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">These are some of the classic dishes with their preparation and cooking times, and difficulty levels.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="py-4">
                    <h2>Images Section</h2>
                    <div class="image-container">
                        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836" alt="Pasta Dish">
                        <img src="https://images.unsplash.com/photo-1567306226416-28f0efdc88ce" alt="Chicken Alfredo">
                    </div>
                </div>
                <div class="py-4">
                    <h2>Audio Section</h2>
                    <audio controls>
                        <source src="https://www.fesliyanstudios.com/play-mp3/387" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>This section includes an HTML5 audio player with a sample cooking sound.</p>
                </div>
                <div class="py-4">
                    <h2>Video Section</h2>
                    <video controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                        <source src="https://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
                        Your browser does not support the video element.
                    </video>
                </div>
                <!-- End your code here -->
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
